.footer {
    background-color: var(--color-surface);
}

.h2 {
    line-height: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    padding: var(--spacing-32px) var(--spacing-36px);
    gap: var(--spacing-40px);
}

/* Первая колонка */
.columnFirst {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20px);
    justify-content: flex-start;
}

/* Остальные колонки */
.column {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20px);
    justify-content: flex-start;
    padding: var(--spacing-60px) 0px var(--spacing-36px);
}

/* Обертка для ссылок, чтобы занять всю высоту колонки */
.linksWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.linkItemDot {
    position: relative;
    margin: 0 var(--spacing-10px);
    padding-left: var(--spacing-16px); /* Отступ для точки */
}

/* Кастомная точка */
.linkItemDot::before {
    content: '';
    position: absolute;
    left: 0;
    top: var(--spacing-10px);
    width: var(--spacing-4px);
    height: var(--spacing-4px);
    background-color: var(--color-text);
    border-radius: var(--radius-sm);
}

.link {
    text-decoration: none;
    color: var(--color-text);
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-10px);
}

.logo h3 {
    margin: 0;
}

.copyright {
    color: var(--color-text-caption);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    margin-top: auto; /* Прижимает копирайт к низу */
}

.linksList, .linksListDot {
    list-style: none;
    padding: 0;
    margin: 0;
}

.linkItem, .linkItemDot {
    margin-bottom:var(--spacing-12px);
}

.link {
    text-decoration: none;
    color: var(--color-text);
}